## missing data 

removing column (or rows) using `df.dropna(axis = 'columns', thresh = 3)` (or `axis = 1`)

In [1]:
import pandas as pd
import numpy as np

In [2]:
volunteer = pd.read_csv('/Users/andrea/Documents/Data/pyDataCamp/volunteer_opportunities.csv')
volunteer.head()  # 35 features

,opportunity_id,content_id,vol_requests,event_time,title,hits,summary,is_priority,category_id,category_desc,...,end_date_date,status,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,4996,37004,50,0,Volunteers Needed For Rise Up & Stay Put! Home...,737,Building on successful events last summer and ...,NaN,NaN,NaN,...,July 30 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5008,37036,2,0,Web designer,22,Build a website for an Afghan business,NaN,1.0,Strengthening Communities,...,February 01 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5016,37143,20,0,Urban Adventures - Ice Skating at Lasker Rink,62,Please join us and the students from Mott Hall...,NaN,1.0,Strengthening Communities,...,January 29 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5022,37237,500,0,Fight global hunger and support women farmers ...,14,The Oxfam Action Corps is a group of dedicated...,NaN,1.0,Strengthening Communities,...,March 31 2012,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5055,37425,15,0,Stop 'N' Swap,31,Stop 'N' Swap reduces NYC's waste by finding n...,NaN,4.0,Environment,...,February 05 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
v = volunteer.dropna(axis = 'columns', thresh = 3)
# v.head()

In [9]:
# volunteer.describe()
# volunteer.shape
v.shape  # many columns are removed

(665, 24)

### subsetting (rows) based on column 

Want to select the dataframe where `colname` has no missing values, use `df[df['colname'].notnull()]`

Check number of missing values in a column, can use `df['col'].isnull().sum()`.

In [12]:
print (volunteer['category_desc'].isnull().sum())

48

In [13]:
volunteer_subset = volunteer[volunteer['category_desc'].notnull()]
print (volunteer_subset.shape)

(617, 35)

## Data types

pandas data type vs python data type

- object: string / mixed 
- int64: integer
- float64: float 
- datetype64: datetime 

change type: `.astype('float')`

In [15]:
print (volunteer.dtypes.head())  # get data types

opportunity_id     int64
content_id         int64
vol_requests       int64
event_time         int64
title             object
dtype: object

In [17]:
print(volunteer["hits"].head())  # hits are integers, but they have 'object' as dtype - mixed. make it into int. 
volunteer["hits"] = volunteer["hits"].astype('int')
print(volunteer['hits'].dtypes)

0    737
1     22
2     62
3     14
4     31
Name: hits, dtype: int64
int64

## class distribution

By default it's 3/1 split (75 vs 25%)

`X_train, X_test, y_train, y_test = train_test_split(X, y)`

There can be **imbalance** in the labels: use **stratified sampling**. (Intuitively, why would class imbalance be a problem? If in 100 samples there are 80 A and 20 B, there might be a scenario where all A are training and all B testing. In this case no B will even be classified as B since the learner never learnt about it! Ideally you want 60 A and 15 B if your training set is combined with 75 samples.) 

`X_train, X_test, y_train, y_test = train_test_split(X, y, stratify = y)` to implement. 

Check class distribution, can use `df['labels'].value_counts()`. It's similar to `table()` in R.

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
volunteer['category_desc'].value_counts()

Strengthening Communities    307
Helping Neighbors in Need    119
Education                     92
Health                        52
Environment                   32
Emergency Preparedness        15
Name: category_desc, dtype: int64

In [26]:
volunteer["category_desc"].shape   # this is an object. however, this can not be used as label!

(665,)

In [25]:
volunteer[["category_desc"]].shape

(665, 1)

In [27]:
volunteer_X = volunteer.drop("category_desc", axis=1)
volunteer_y = volunteer[["category_desc"]]  # Create a category_desc labels dataset

# since the class is a bit unbalanced, use stratified. 
X_train, X_test, y_train, y_test = train_test_split(volunteer_X, volunteer_y, stratify=volunteer_y)

# Print out the category_desc counts on the training y labels
print(y_train["category_desc"].value_counts())

# X_train, X_test, y_train, y_test = train_test_split(volunteer_X, volunteer_y)  
# print(y_train["category_desc"].value_counts())
# not very different - probably just in this particular case??

Strengthening Communities    230
Helping Neighbors in Need     89
Education                     69
Health                        39
Environment                   24
Emergency Preparedness        11
Name: category_desc, dtype: int64