## inputs

`shape` arguments need a tuple. Input is a tensor. Shape seems to be the column number of the input

In [3]:
from keras.layers import Input
input_tensor = Input(shape = (1,))
# print (input_tensor)   # it's a tensorflow tensor

## outputs 

final output is a tensor

In [4]:
from keras.layers import Dense
output_layer = Dense(1)
# print (output_layer)   # not a tensor 
output_tensor = output_layer(input_tensor)

# alternatively: output_tensor = Dense(1)(input_tensor)

WARNING:tensorflow:From /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

## models

### model.fit 


- batch size (how many rows to train at a time)
- validation_split
- verbose (prints a lot)

### model.evaluate

In [5]:
from keras.models import Model
model = Model(input_tensor, output_tensor)
model.compile(optimizer = 'adam', loss = 'mae')
model.summary()    # gives summary of layer and outputs

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         (None, 1)                 0
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 2
=================================================================
Total params: 2
Trainable params: 2
Non-trainable params: 0
_________________________________________________________________

In [32]:
# IMpossible to plot model
'''
import pydot
import pydotplus
import graphviz''
from keras.utils import plot_model
plot_model(model, to_file = 'model.png')

from matplotlib import pyplot as plt
img = plt.imread('model.png')
plt.imshow(img)
plt.show()
'''

"\nimport pydot\nimport pydotplus\nimport graphviz''\nfrom keras.utils import plot_model\nplot_model(model, to_file = 'model.png')\n\nfrom matplotlib import pyplot as plt\nimg = plt.imread('model.png')\nplt.imshow(img)\nplt.show()\n"

## Tornament data example

Took me a while to get a subset of the data. They should have put it downloadable... 

Goal: predict tornament outcomes 

Input: seed difference. A 7 (seed) team vs 10 team is -3. 

- seed ranges from 1 to 16, so seed difference is between 15 to -15.
- positive seed: negative outcome. 

Output: score difference. 41 - 50 is -9. (it means the first team loses by 9 points)

In [22]:
import pandas as pd
import numpy as np

In [26]:
tornament = pd.read_csv('/Users/andrea/Documents/Data/pyDataCamp/game_tornament.csv', sep = ';')
tornament.head()

,season,team_1,team_2,home,seed_diff,score_diff,score_1,score_2,won
0,1985,288,73,0,-3,-9,41,50,0
1,1985,5929,73,0,4,6,61,55,1
2,1985,9884,73,0,5,-4,59,63,0
3,1985,73,288,0,3,9,50,41,1
4,1985,3920,410,0,1,-9,54,63,0

In [29]:
tornament.columns.values   # note the bug of the blank spaces

array(['season', 'team_1', '  team_2', '  home  ', 'seed_diff ',
       ' score_diff ', ' score_1 ', ' score_2 ', ' won'], dtype=object)

In [30]:
# this is after you have compiled model 

model.fit(tornament['seed_diff '], tornament[' score_diff '],
          epochs=1,
          batch_size=128,
          validation_split=0.1,
          verbose=True)

WARNING:tensorflow:From /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Train on 325 samples, validate on 37 samples
Epoch 1/1
325/325 [==============================] - 0s 698us/step - loss: 13.9641 - val_loss: 12.5979

In [31]:
'''
# Load the X variable from the test data
X_test = games_tourney_test['seed_diff']

# Load the y variable from the test data
y_test = games_tourney_test['score_diff']

# Evaluate the model on the test data
model.evaluate(X_test, y_test)
'''

"\n# Load the X variable from the test data\nX_test = games_tourney_test['seed_diff']\n\n# Load the y variable from the test data\ny_test = games_tourney_test['score_diff']\n\n# Evaluate the model on the test data\nmodel.evaluate(X_test, y_test)\n"