This should familiarize me with data wrangling using Python. (I think this one should be quite straightforward in R, but I should learn Py here)

- season: 1985 to 2017
- team_1: id 1, integer
- team_2: id 2, integer
- home: home or away
- seed_diff: how strong the teams are
- score_diff: team1 - team2
- score_1
- score_2
- won: (outcome)

Since the original data has 33 different years, and each year has on average 130Â± rows, it's unnecessary to get all of them. A seemingly feasible way is to use 10 rows for each year. 

```
# put the counts of season (which year) along with the season label in a df

counts_by_year = games_tourney.season.value_counts().reset_index().rename(columns = {'index': 'year', 'season': 'count'})

# then reorder by year 
counts_by_year_sorted = counts_by_year.sort_values(by = ['year'])

# create the appropriate index for the extraction

new_list = []

def add_one_by_one(lst):
    pre_sums = 0
    for i in lst:
        pre_sums += i
        new_list.append(pre_sums)
    return new_list


cum_index = add_one_by_one(counts_by_year_sorted['count'])
counts_by_year_sorted['cum_index'] = np.array(cum_index) - 126
counts_by_year_sorted['cum_index2'] = counts_by_year_sorted['cum_index'] + 10

# then by setting different year, this info can be extracted. 
yr = 2017  # can be any others 
ind1year = counts_by_year_sorted[counts_by_year_sorted['year'] == yr]['cum_index']
ind2year = counts_by_year_sorted[counts_by_year_sorted['year'] == yr]['cum_index2']
games_tourney.loc[int(ind1year):int(ind2year), ]

```

In [2]:
import pandas as pd
import numpy as np

In [43]:
tornament = pd.read_csv('/Users/andrea/Documents/Data/pyDataCamp/game_tornament.csv', sep = ';')
tornament.head()

,season,team_1,team_2,home,seed_diff,score_diff,score_1,score_2,won
0,1985,288,73,0,-3,-9,41,50,0
1,1985,5929,73,0,4,6,61,55,1
2,1985,9884,73,0,5,-4,59,63,0
3,1985,73,288,0,3,9,50,41,1
4,1985,3920,410,0,1,-9,54,63,0

In [44]:
tornament['season'].dtype

dtype('int64')