In [9]:
import pandas as pd
import numpy as np
from keras.utils import to_categorical

titanic = pd.read_csv('titanic_all_numeric.csv')

print (list(titanic.columns.values))  # print out the column names

Using TensorFlow backend.

['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare', 'male', 'age_was_missing', 'embarked_from_cherbourg', 'embarked_from_queenstown', 'embarked_from_southampton']

In [10]:
titanic.survived = titanic['survived']
target = to_categorical(titanic.survived)
print (type(target))

<class 'numpy.ndarray' at 0x10651e350>

In [6]:
predictors = titanic[titanic.columns[1:11]]
print (predictors.head())

   pclass   age  sibsp  parch     fare  male  age_was_missing  \
0       3  22.0      1      0   7.2500     1            False
1       1  38.0      1      0  71.2833     0            False
2       3  26.0      0      0   7.9250     0            False
3       1  35.0      1      0  53.1000     0            False
4       3  35.0      0      0   8.0500     1            False

   embarked_from_cherbourg  embarked_from_queenstown  \
0                        0                         0
1                        1                         0
2                        0                         0
3                        0                         0
4                        0                         0

   embarked_from_southampton
0                          1
1                          0
2                          1
3                          1
4                          1

In [11]:
print (target)

[[1. 0.]
 [0. 1.]
 [0. 1.]
 ...
 [1. 0.]
 [0. 1.]
 [1. 0.]]

In [14]:
type(titanic['survived'])

pandas.core.series.Series

In [15]:
titanic.dtypes

survived                       int64
pclass                         int64
age                          float64
sibsp                          int64
parch                          int64
fare                         float64
male                           int64
age_was_missing                 bool
embarked_from_cherbourg        int64
embarked_from_queenstown       int64
embarked_from_southampton      int64
dtype: object

In [18]:
titanic['survived'] = titanic.survived.astype('category')
titanic.dtypes

survived                     category
pclass                          int64
age                           float64
sibsp                           int64
parch                           int64
fare                          float64
male                            int64
age_was_missing                  bool
embarked_from_cherbourg         int64
embarked_from_queenstown        int64
embarked_from_southampton       int64
dtype: object